$text-size-large: 32px;
$text-size-medium: 24px;
$text-size-normal: 16px;
$text-size-small: 12px;

$base-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$dark-font-color: #050A30;
$bright-font-color: #f5f5ff;

$base-page-background-color: #f4f4ff;
$second-page-background-color: #e4e3ff;
$base-button-background-color: #9291C0;
$base-button-background-hover-color: #ABA9BC;

$input-field-background-color: #dfdfdf;

$table-head-background-color: #beb3ff;
$table-body-background-color: #d8d1ff;